* {
    margin: 0px;
    padding: 0px;
}

main {
    background-color: aliceblue;
    margin-left: 20%;
    width: 60%;
}

header {
    padding: 50px;
}

header>h1 {
    margin-bottom: 100px;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    height: 80px;
    justify-content: right;
    align-items: center;
}

li {
    background-color: cadetblue;
    color: bisque;
    width: 80px;
    margin-left: 10px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 8px;
}

nav a {
    text-decoration: none;
    color: white;
}

section,
article {
    margin: 30px;
    padding: 10px;

}

section>p {
    margin-top: 20px;
}

article {
    background-color: white;
}

article>div {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divimg {
    width: 30%;
    text-align: center;
}

article p {
    width: 70%;
}

img{
    border-radius: 50px;
}