#btDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg {
    background-color: burlywood;
    width: 50%;
    height: 80px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}