/* 헤더 스타일 */
header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

/* 내비게이션 바 스타일 */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #343a40;
}

/* 메인 섹션 스타일 */
main {
    margin: 20px;
}

/* 주사위 이미지 스타일 */
#btDiv img {
    width: 100px;
    height: 100px;
}

/* 버튼 스타일 */
.cmsg button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}