form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec1 {
    background-color: #f1f1f1;
}

#sec2 {
    background-color: #fff;
}

.fdiv {
    background-color: #f1f1f1;
    width: 45%;
    padding: 20px;
}

.fdiv>div {
    background-color: #fff;
    margin: 4px;
    padding: 24px;
}

select {
    width: 100%;
    height: 32px;
}

input[type=number] {
    width: 80%;
    height: 32px;
}

#unit1,
#unit2 {
    width: 20%;
    height: 32px;
    font-size: 20px;
    font-weight: bold;
}

#txt2 {
    background-color: #fafafa;
}