body {
    font-family: 'San Francisco', 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin: 20px;
}

form {
    text-align: center;
    margin-top: 20px;
}

.fdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec1 {
    border: 10%;
    width: 100%;
}

.div1 {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.div2 {
    width: 100%;
    margin: 10px;
}

input[type='text'] {
    width: 200px;
    height: 30px;
    font-size: 16px;
}


button {
    width: fit-content;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #007bff;
    cursor: pointer;
}

#txt1,
#txt2 {
    width: 100%;
    text-align: center;
}

#txt1 {
    font-size: large;
}

#d1 {
    width: 100%;
}