* {
    margin: 0px;
    padding: 0px;
}

main,
header {
    display: flex;
    align-items: center;
    width: 80vw;
    padding: 10px;
    margin-left: 10vw;
}

main {
    margin-top: 50px;
    background-color: orangered;
    color: orange;
    flex-direction: column;
}

header {
    height: 10vh;
    justify-content: space-between;
    background-color: orange;
    color: orangered;
}

header>h1 {
    margin-left: 10px;
}

nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

nav li {
    margin: 0px 10px;
    padding: 5px;
}

nav a:hover {
    background-color: orangered;
    color: orange
}

nav a {
    text-decoration: none;
    color: orangered;
    padding: 5px;
    border-radius: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: orange;
    color: orangered;
    border: 0px;
    border-radius: 10px;
}

button:hover {
    background-color: sandybrown;
    color: olive;
    cursor: pointer;
}